[Unit]
Description=HuaweiCloud CSI Host Connector Service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/bin/sh -c "/var/lib/csi/csi-connector-server > /var/lib/csi/connector.log 2>&1 &"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
